{% extends "bokapp/base_update.html" %}
{% load crispy_forms_tags %}


{% block content %}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Book Update {{book.id}}</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Update</button>
        </form>
    </div>
</div>
{% endblock %}

