{% extends "bokapp/base_filter.html" %}
{% load widget_tweaks %}

{% block contentfilter %}
<div class="container py-5" >
  <div id="filter" style="text-align: center; padding-bottom: 20px;">
  <h1 style="margin-top: 0; color: orange; font-weight: bold; font-size: 4rem" >Filtering books</h1></div>
   <form action="" method="get">
    <div class="well" style="color: whitesmoke;">
      <div class="row">
        <div class="form-group col-sm-3 col-md-3">
          {{ filter.form.title.label_tag }}
          {% render_field filter.form.title class="form-control" %}
          </div>
        <div class="form-group col-sm-3 col-md-3">
          {{ filter.form.authors.label_tag }}
          {% render_field filter.form.authors class="form-control" %}
        </div>
        <div class="form-group col-sm-3 col-md-3">
          {{ filter.form.language.label_tag }}
          {% render_field filter.form.language class="form-control" %}
        </div>
        <div class="form-group col-sm-3 col-md-3">
          {{ filter.form.release__joined_year.label_tag }}
          {% render_field filter.form.release__joined_year class="form-control" %}
        </div>
           <div class="form-group col-sm-3 col-md-3">
          {{ filter.form.release_year__gt.label_tag }}
          {% render_field filter.form.release_year__gt class="form-control" %}
        </div>
           <div class="form-group col-sm-3 col-md-3">
          {{ filter.form.release_year__lt.label_tag }}
          {% render_field filter.form.release_year__lt class="form-control" %}
        </div>
       </div>
      <div id="bat" style="text-align: center; padding-bottom: 20px; padding-top: 20px">
      <button type="submit" class="btn btn-primary" style="margin-bottom: 20px;">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
     </div>
  </form>

  <table  class="table table-borderless table-dark" style="text-align: center;">
         <thead class="thead-dark">
            <tr>
              <th scope = "col"> # </th>
              <th>Title</th>
              <th>Authors</th>
              <th>PublishedDate</th>
              <th>ISBN_number</th>
              <th>PageCount</th>
              <th>ImageLinks</th>
              <th>Language</th>
             </tr>
    </thead>

      <tbody>
    {% for book in filter.qs %}
        <tr class="text-center-row">
          <td scope="row">{{forloop.counter}}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.authors }}</td>
          <td>{{ book.publisheddate }}</td>
          <td>{{book.isbn_number}}</td>
          <td>{{book.pagecount}}</td>
          <td><a target="_blank" href={{book.imagelinks}}>
          <img src={{book.imagelinks}} alt="no_picture" width="100" height="140">
          </a>
          </td>
          <td>{{ book.language}}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}



