{% extends "bokapp/base_search.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block main %}

<div class="formtext">
    <div class="nag" style="padding-top: 5px; padding-bottom: 30px">
        <h1>Books searching</h1></div>
<form  method="get">
    {% csrf_token %}
    {{ form|crispy }}
    <button  type="submit"  class="btn btn-success">Serach and Import</button>
</form>
</div>
{% endblock %}