{% extends "bokapp/base_list.html" %}
{% load widget_tweaks %}

{% block content %}
{{ books.refresh_from_db}}
<div class="container py-5" >
  <table class="table table-borderless table-dark">
      <tbody>

    {% for book in books %}

        <tr class="text-center-row">
          <td>id/{{book.id}}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.authors }}</td>
          <td>{{ book.publisheddate }}</td>
          <td>{{book.isbn_number}}</td>
          <td>{{book.pagecount}}</td>
          <td>{{ book.language}}</td>
          <td><a class="btn btn-sm btn-outline-primary" href="{% url 'bokapp:books-update' book.id %}">Update</a>
          </td>
            <td>
              <a href="{% url 'bokapp:delete' book.id %}" role="button" class="btn btn-sm btn-outline-danger">Delete</a>
          </td>
        </tr>
    {% endfor %}
    </tbody>

  </table>
</div>
{% endblock %}



