{% extends "bokapp/base_update.html" %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container py-5" >
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <p>Are you sure you want to delete "{{object}}"?</p>
            <input type="submit" value="Confirm">
        </form>
    </div>
</div>
{% endblock %}