{% extends "bokapp/base_findsearch.html" %}

{% block content %}

<div class="container py-5">
        <div class="col-lg-7 mx-auto" style="padding-top: 20px; padding-bottom: 50px">
            <h1 class="display-4" >Imported Books</h1>
        </div>

{% for book in books %}
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item" style="border-color:blueviolet">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">{{ book.title }}</h5>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">{{ book.authors }}</h6>
                            </div>
                            <p class="font-italic text-muted mb-0 small">{{ book.publisheddate }}  | ISBN {{ book.isbn_number }} |  {{ book.pagecount}} pages | {{ book.language}}</p>

                        </div><img src={{book.imagelinks}}  alt="Generic placeholder image" height="196px" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
                <!-- list group item-->
            </ul> <!-- End -->
        </div>
    </div>
{% endfor %}
</div>

 {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <p class="{{ message.tags }}"> <span style="color: orangered">{{ message }}</span></p>
    {% endfor %}
  </ul>
 {% endif %}
{% endblock %}