
.form-form{
  max-width: max-content;
  margin: auto;
  padding: 5px 5px;
  position: relative;
  left: 15px;
  background-color: #527a7a;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=80);
}


/*

.well{
  background-color: #212529;
  color: white;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 10px;
  text-align: center;
}

h1{
  background-color: transparent;
  display:inline;
  color: white;
}

.form-group {
  color: #FDFFFC;
  padding-right: 40px;
  padding-left: 50px;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  width: 500px;
}
.btn-primary{
    position: relative;
    right: 20px;
    margin-top: 20px;
}
.messages{
    font-size: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: yellow;
     #212529;
    margin-top: 20px;
}

.table-bordered{
  background-color: whitesmoke;
  color: black;
  margin-top: 5px;
  border: solid;
  border-top-color: olivedrab;
  column-width: 50px;
  vertical-align: middle;
}

h4{
  color: olivedrab;
  font-weight: bold;
  font-size: 50px;
  margin-top: 10px;
}
.btn-primary{
  max-width: 100px;
  background-color: olivedrab;
  text-align: center;
  font-weight: bold;
  border: solid transparent;
  margin-left: 47%;
  margin-right: 45%;
}

.table{
  text-align: center;
  vertical-align: middle;
  padding: 20px 0;
}
.text-center-row{
   text-align: center;
  vertical-align: middle;
  padding: 20px 20px 20px 20px;

}
.form-group {
  color: #FDFFFC;
  padding-right: 40px;
  text-align: center;
  font-weight: bold;
  width: 500px;
}

#boksearch{
    background-color: #E1E1E1;
      margin: 15px 40px 20px 40px;
    }

#second-head{
    background-color: #212529;
    color: white;
    text-align: center;
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
}

.forms-forms{
  max-width: max-content;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-style: solid;
  border-color: transparent;
}


*/






#bokfilter{
    background-color: #212529;
    color: white;
    }

.add-search{
    background-color: sandybrown;
    color: white;
    margin-top: 20px;
    border-radius: 10px;
}
div h1 {
  background-color: transparent;
  display:inline;
  color: white;
}
#searchform{
     background: crimson;
    background-size:cover;
      color: #FDFFFC;
      text-align: center;
      margin-top: 50px;
    }

#searchformanswer{
     background: linear-gradient(to right, #c04848, #480048);
    min-height: 100vh
    }